* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}
